/* Set global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #F9F9F9;
}

/* Style the header */
header {
  height: 50vh;
  background-color: #F7F7F7;
}

.hero {
  height: 100%;
  background: url('/home.png') no-repeat center center;
  background-size: cover;
}

header img {
  height: 50px;
  margin: 0 10px;
}

/* Style the content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
